*{
    color: white;
}
body{
    background: linear-gradient(57deg, #212529 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle at 50% 100%, rgba(255, 255, 255, 0.4) 0%, #212529 60%);
}

main{
    margin-top: 10%;
}
#sun{
    max-height: 50px;
    padding-right: 20px;
}
li{
    color: black;
}
#suninfo{
    height: 150px;
}
#wind{
    height: 150px;
    width: 150px;
    background: transparent;
}
#tempimg{
    height: 150px;
    width: 150px; 
}

.cardhead{
    background-color: #E3651D;
}
.navbar-custom {
    
    background: linear-gradient(57deg, #212529 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%), radial-gradient(circle at 50% 100%, rgba(255, 255, 255, 0.4) 0%, #212529 60%);
}

.navbar-custom .navbar-brand {
    color: #ffffff;
}
.navbar-nav .nav-link, .navbar-nav .nav-link.active {
    color: #ffffff; /* Change this to your desired color */
}

span{
    color: black;
}
