*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #262a2f;
}
.container{
    margin-top: 25%;
    margin-left: 50%;
    background: #fff;
    position: absolute;
    width: 400px;
    padding: 25px 35px;
    border: 2px solid black;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    
}
p{
    
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 10px;
}
input{
    width: 100%;
    margin-top: 2px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
button{
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #494eea;
    color: #fff;
    outline: 0;
    border: 0;
    font-weight: 400;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.showimg{
    margin-top: 20px;
    overflow: hidden;
    margin-left: 25%;
    
}